* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#result{
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.square{
    display: inline-block;
    width: 100px;
    height: 100px;
    margin: 10px;
    aspect-ratio: 1/1;
    text-align: center;
    line-height: 100px; 
    background-color: rgb(168, 127, 180);
    
}
.fizzBuzz{
    background-color: rgb(240, 236, 128);
}
.buzz{
    background-color: rgb(133, 240, 128);
}
.fizz{
    background-color: rgb(128, 197, 240);
}